html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
    overflow: hidden;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

body {
    padding-right: 5px;
}

textarea {
    width: 100%;
    margin-right: 3px;
    height: 100vh;
    background: white;
    font-family: inherit;
    border: none;
}
