
.processItem {
    display: flex;
    height: 75px;
    align-items: center;
    padding: 0 24px;
    width: 453px;
    border-radius: 12px;
    background-color: rgba(72, 70, 70, 0.31);

}

.processItem + .processItem {
    margin-top: 24px;
}

.processItem__column {
    width: 56px;
}

.processItem__column + .processItem__column {
    margin-left: 24px;
}

.processItem__text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    transition: color .2s ease-out;
}

.processItem__text--green {
    color: #25f041;
}

.processItem__text--white {
    color: white;
}

.processItem__text--red {
    color: #f2481e;
}

.processItem__name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.processItem__label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #9c9c9c;
    text-transform: uppercase;
}

.processItem__children {
    padding: 24px 0 0 44px;
}
