
.processItemTemplate {
    display: flex;
    height: 75px;
    align-items: center;
    padding: 0 24px;
    width: 453px;
    border-radius: 12px;
    background-color: rgba(72, 70, 70, 0.31);
}

.processItemTemplate + .processItemTemplate {
    margin-top: 24px;
}

.processItemTemplate__column {
    width: 56px;
}

.processItemTemplate__column + .processItemTemplate__column {
    margin-left: 24px;
}

.processItemTemplate__name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.processItemTemplate__label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #9c9c9c;
    text-transform: uppercase;
}

.processItemTemplate__children {
    padding: 24px 0 0 44px;
}

.processItemTemplate__closeContainer {
    margin-left: 24px;
}
