
.container {
    display: flex;
    height: 75px;
    align-items: center;
    padding: 0 24px;
    width: 453px;
    border-radius: 12px;
    background-color: rgba(72, 70, 70, 0.31);
}

.container + .container {
    margin-top: 24px;
}

.column {
    width: 56px;
}

.column + .column {
    margin-left: 24px;
}

.name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #9c9c9c;
    text-transform: uppercase;
}

.children {
    padding: 24px 0 0 44px;
}

.closeContainer {
    margin-left: 24px;
}
